@import "tailwindcss";

@theme {
  --color-brand-50: #f0f9ff;
  --color-brand-100: #e0f2fe;
  --color-brand-500: #0ea5e9;
  --color-brand-600: #0284c7;
  --color-brand-900: #0c4a6e;

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  body {
    @apply bg-slate-900 text-white font-sans antialiased;
  }
}

/* Leaflet Map Fixes */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
}